.DS_Store
.vscode
.ipynb_checkpoints
__pycache__

aruba_smart_home_dataset
hh101

*.csv

cache/*
!cache/.gitkeep
!cache/preprocessed
!cache/preprocessed/df_versions.csv
!cache/preprocessed/df000.pickle

**/result/*
!**/result/.gitkeep

**/test_results/*
!**/test_results/.gitkeep

**/preprocess_results/*
!**/preprocess_results/.gitkeep

**/output/*
!**/output/.gitkeep

**/saved_models/detectors
!**/saved_models/testbenches/*

svdd/related_sensors/*
!svdd/related_sensors/.gitkeep

svdd/pretrained_parameters.pth

*.txt
*.png
*.pickle